# Dependencies
/node_modules
/frontend/node_modules
/backend/venv
/backend/__pycache__

# Build artifacts
/frontend/dist

# IDE/Editor specific
.vscode
.idea

# Environment variables
.env
.env.*
!/.env.example

# OS-specific
.DS_Store
Thumbs.db